{% extends "base_DXcator.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tutorial.css') }}">

<div class="fadeMe" id="outer-X_107866056_G_C">
  <div class="inner" style="">
    <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>X</span>
    This is the page in which you see a specific sample results
    <br>
    Variant are listed in decreasing (suspected) pathogenicity order with summary characteristics presented
    <br>
    <br>
    <div class="list">
      - it looks like we have a variants flagged Pathogenic by Diagnosticator algorithm (ACMG column)
      <br>
      - it also looks that this variant has already been reported as Pathogenic by another user (KNOWN column)
    </div>
    <br>
    Let's have a look at the suspected variant, by clicking on its name
  </div>
</div>


<div class="fadeMe" id="outer-X_107866056_G_C_STATUS">
  <div class="inner" id="inner" style="">
    <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>X</span>
    Don't forget to accept the variant as Diagnostic Finding for this patient!
  </div>
</div>


<div class="fadeMe" id="outer-CASE0_STATUS">
  <div class="inner" id="inner" style="">
    <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>X</span>
    Great job! You accepted the COL4A5 variant as Diagnostic Finding and you can now see the
    <button disabled class="btn btn-success">green</button>
    background on it
    <br>
    We identified a COL4A5 hemizygous variant in a kidney disease patient, looks like we have a diagnosis!
    <br>
    Let's mark this patient as
    <button disabled class="btn btn-success">Positive Diagnostic Finding</button>
    as well:
    <br>
    <div class="list">
      - the <stream style="text-decoration: underline;">Status</stream>
      field indicates which status you assigned to this sample (empty if you did not assign any yet).
      <br>
      - to change the Status click on the desired status below <stream style="text-decoration: underline;">Change Status</stream> buttons and see how it changes (hover for a little description, full exaplanation
      <a href="{{ url_for('main.status_explanation') }}" target="_blank">
        <button class="btn btn-light" style="color: black;">
          here
        </button>
      </a>)
    </div>
  </div>
</div>


<div class="fadeMe" id="outer-FINAL">
  <div class="inner" id="inner" style="">
    <span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>X</span>
    Great job! You made your first diagnosis!
    <br>
    <br>
    In the real application this will be stored in the server, anytime you find that variant again in any other of your VCFs
    it will be automatically flagged as
    <stream style="text-decoration: underline; color: red;">known P/LP</stream>,
    to avoid you analyzing the same variant in different samples over and over again
    <br>
    <br>
    Let's go back at the
    <a href="{{ url_for('main.patient_result') }}">
      <button class="btn btn-light" style="color: black;">Samples Main Page</button>
    </a> to review another patient!
  </div>
</div>















<div style="display: inline-block; float: right; " >
  <a href="{{ url_for('main.patient_result' )}}">
    <button class="btn btn-info" style="border: 1px solid #308eff;">
      Samples Main Page
    </button>
  </a>
  <a href="{{ url_for('main.gene_result' )}}">
    <button class="btn btn-info" style="border: 1px solid #308eff; ">
      Gene Main Page
    </button>
  </a>
</div>

<div style='font-weight: bold; text-align: center; font-size: 120%; margin-top: 10%;'>
  Sample:
  <a href="{{ url_for('main.patient_page', sample_name = sample_name )}}">
  <button class="btn btn-primary" style="">
    {{ sample_name }}
  </button>
  </a>
  Status:
  {% set sample_status = 'NA' %}
  {% if 'STATUS' in sample_dict %}
    {% if 'status' in sample_dict['STATUS'] %}
      {% set sample_status = sample_dict['STATUS']['status'] %}
    {% endif %}
  {% endif %}

  {% if sample_status != 'NA' %}
    <a href="{{ url_for('main.patient_page', sample_name = sample_name )}}">
    <button class="btn btn-{{classes_dict[sample_dict['STATUS']['status']]['btn-class']}}" style="{{classes_dict[sample_dict['STATUS']['status']]['btn-style']}}">
    {{ classes_dict[sample_status]['display'] }}
    </button>
    </a>
  {% endif %}
</div>



<div style='font-weight: bold; text-align: center; font-size: 100%; margin-top: 3%;'>
  <div>
    Change Patient Status:
  </div>
    {% for c, c_dict in classes_dict.items() %}
      <a class="box" id="{{ c_dict[ 'description' ] }}" href="{{ url_for( 'main.patient_change_status', sample_name = sample_name, new_status = c ) }}">
        <button class="btn btn-{{c_dict['btn-class']}}" style="{{c_dict['btn-style']}}" id="{{ c_dict['display'] }}_SAMPLE_STATUS">
          {{ c_dict['display'] }}
        </button>
      </a>
    {% endfor %}
    <!-- this is to show the button description -->
    <div class="description-container">
      <stream style="color: grey;">Button description (point mouse on button to appear)</stream>:
      <div id='testText'></div>
    </div>
</div>







<input type="hidden" id="TODO" name="TODO" value="{{ TODO }}">












<div style='text-align: center; margin-top: 5%; max-width: 100%;'>
  <stream style="font-size: 130%; font-weight: bold;">Patient Variants</stream>
<table class="table table-hover" >

    <thead class="thead-dark">
      <tr style="background-color: black; color: white;" >
        <th class="ui-helper-center">
            index
        </th>
        <th class="ui-helper-center">
            variant
        </th>
        <th class="ui-helper-center">
          zigosity
        </th>
        <th class="ui-helper-center">
            gene
        </th>
        <th class="ui-helper-center">
            OMIM
        </th>
        <th class="ui-helper-center">
            HGVSc
        </th>
        <th class="ui-helper-center">
            HGVSp
        </th>
        <th class="ui-helper-center">
            ACMG
        </th>
        <th class="ui-helper-center">
            known
        </th>
      </tr>
    </thead>

      <tbody>
        {% set var_status = 'NA' %}
        {% for var_name, var_dict in sampleVar_dict.items() %}
        {% if 'STATUS' in sample_dict %}
          {% if var_name in sample_dict['STATUS'] %}
            {% set var_status = sample_dict[ 'STATUS' ][ var_name ] %}
          {% endif %}
        {% endif %}
        <tr class="{{ var_status }}">
          <td class="ui-helper-center"  style="vertical-align: middle;">
              {{ loop.index }}
          </td>
          <td class="ui-helper-center">
            <a href="{{ url_for('main.variant_page', variant_name = var_name ) }}" >
              <button class="btn btn-info" id="{{ var_name }}_BUTTON" style="border: 1px solid #308eff; width: 100%; white-space: normal;">
                <div style="word-wrap: break-word; overflow-wrap: break-word; width: 100%;">
                  {{ var_name }}
                </div>
              </button>
          </td>
          {% set ZIGOSITY = sampleVar_dict[ var_name ][ 'SAMPLES' ][ sample_name ] %}
          <td class="ui-helper-center" style="vertical-align: middle;">
          {% if ZIGOSITY == 'hom' %}
            <stream style="font-weight: bold; font-weight: 110%;">{{ sampleVar_dict[ var_name ][ 'SAMPLES' ][ sample_name ] }}</stream>
          {% else %}
            <stream style="">{{ sampleVar_dict[ var_name ][ 'SAMPLES' ][ sample_name ] }}</stream>
          {% endif %}
          </td>
          <td class="ui-helper-center" style="vertical-align: middle;">
            {% set GENENAME = sampleVar_dict[ var_name ][ 'CHARS' ][ 'genename' ] %}
            {% if GENENAME == "" %}
              {% set GENENAME = sampleVar_dict[ var_name ][ 'CHARS' ][ 'SYMBOL' ] %}
            {% endif %}
            <a href="{{ url_for('main.gene_page', gene_name = GENENAME) }}">
              <button class="btn btn-basic" style="border: 1px solid #308eff;">
                {{ GENENAME }}
              </button>
            </a>
          </td>
          <td class="ui-helper-center" style="vertical-align: middle;">
              {{ sampleVar_dict[ var_name ][ 'CHARS' ][ 'gene_OMIM_inh' ] }}
          </td>
          <td class="ui-helper-center" style="vertical-align: middle;">
              {{ sampleVar_dict[ var_name ][ 'CHARS' ][ 'HGVSc' ] }}
          </td>
          <td class="ui-helper-center" style="vertical-align: middle;">
              {{ sampleVar_dict[ var_name ][ 'CHARS' ][ 'HGVSp' ] }}
          </td>
          <td class="ui-helper-center" id="{{ var_name }}_ACMG_CELL" style="vertical-align: middle;">
              {{ sampleVar_dict[ var_name ][ 'ACMG' ][ 'ACMG' ] }}
          </td>
          <td class="ui-helper-center" style="vertical-align: middle;">
            {% if 'KNOWN' in sampleVar_dict[var_name] %}
              {% if 'P' in sampleVar_dict[var_name]['KNOWN'] %}
              <button class="btn btn-danger" style="color: black;" id="{{ sampleVar_dict[var_name] }}_KNOWN_CELL" disabled>
                P: {{ sampleVar_dict[ var_name ][ 'KNOWN' ][ 'P' ] }}
              </button>
              {% endif %}
              {% if 'LP' in sampleVar_dict[var_name]['KNOWN'] %}
              <button class="btn btn-danger" style="color: black; opacity: 0.8;" id="{{ sampleVar_dict[var_name] }}_KNOWN_CELL" disabled>
                LP: {{ sampleVar_dict[ var_name ][ 'KNOWN' ][ 'LP' ] }}
              </button>
                <br>
              {% endif %}
              {% if 'US' in sampleVar_dict[var_name]['KNOWN'] %}
              <button class="btn btn-warning" style="color: black;" id="{{ sampleVar_dict[var_name] }}_KNOWN_CELL" disabled>
                US: {{ sampleVar_dict[ var_name ][ 'KNOWN' ][ 'US' ] }}
              </button>
              {% endif %}
              {% if 'LB' in sampleVar_dict[var_name]['KNOWN'] %}
              <button class="btn btn-success" style="color: black; opacity: 0.8;" id="{{ sampleVar_dict[var_name] }}_KNOWN_CELL" disabled>
                LB: {{ sampleVar_dict[ var_name ][ 'KNOWN' ][ 'LB' ] }}
              </button>
                <br>
              {% endif %}
              {% if 'B' in sampleVar_dict[var_name]['KNOWN'] %}
              <button class="btn btn-success" style="color: black;" id="{{ sampleVar_dict[var_name] }}_KNOWN_CELL" disabled>
                B: {{ sampleVar_dict[ var_name ][ 'KNOWN' ][ 'B' ] }}
              </button>
                <br>
              {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </<tbody>
</div>



<script>

  var TODO_seen = document.getElementById("TODO").value;

  if ( TODO_seen == "CASE0_page" || TODO_seen == "X_107866056_G_C_page" ) {
    document.getElementById('outer-X_107866056_G_C_STATUS').setAttribute("style", "display: none");
    document.getElementById('outer-CASE0_STATUS').setAttribute("style", "display: none");
    document.getElementById('outer-FINAL').setAttribute("style", "display: none");
    document.getElementById('X-107866056-G-C_BUTTON').setAttribute("style", "animation-name: increasered; animation-duration: 1s; animation-iteration-count: infinite;" );
  }
  else if ( TODO_seen == "X_107866056_G_C_status" ) {
    document.getElementById('outer-X_107866056_G_C').setAttribute("style", "display: none");
    document.getElementById('outer-CASE0_STATUS').setAttribute("style", "display: none");
    document.getElementById('outer-FINAL').setAttribute("style", "display: none");
    document.getElementById('X-107866056-G-C_BUTTON').setAttribute("style", "animation-name: increasered; animation-duration: 1s; animation-iteration-count: infinite;" );
  }
  else if ( TODO_seen == "CASE0_status" ) {
    document.getElementById('outer-X_107866056_G_C').setAttribute("style", "display: none");
    document.getElementById('outer-X_107866056_G_C_STATUS').setAttribute("style", "display: none");
    document.getElementById('outer-FINAL').setAttribute("style", "display: none");
    document.getElementById('DF_SAMPLE_STATUS').setAttribute("style", "animation-name: increasered; animation-duration: 1s; animation-iteration-count: infinite;" );
  }
  else {
    document.getElementById('outer-X_107866056_G_C').setAttribute("style", "display: none");
    document.getElementById('outer-X_107866056_G_C_STATUS').setAttribute("style", "display: none");
    document.getElementById('outer-CASE0_STATUS').setAttribute("style", "display: none");
  };


  $('.box').on('mouseover', function (e) {
      $('#testText')[0].innerHTML = this.id;
      $('#testText')[0].style.display = 'block';
  });
  $('.box').on('mouseout', function (e) {
      $('#testText')[0].style.display = 'none';
  });

</script>


{% endblock %}
